<p style="font-family: Arial; font-size:3.75vw;color:purple; font-style:bold"><br>
pandas Exercise Notebook
</p><br>

# Exercise Notebook Instructions

### 1. Important: Only modify the cells which instruct you to modify them - leave "do not modify" cells alone.  

The code which tests your responses assumes you have run the startup/read-only code exactly.

### 2. Work through the notebook in order.

Some of the steps depend on previous, so you'll want to move through the notebook in order.

### 3. It is okay to use libraries.

You may find some questions are fairly straightforward to answer using built-in library functions.  That's totally okay - part of the point of these exercises is to familiarize you with the commonly used functions.

### 4. Seek help if stuck

If you get stuck, don't worry!  You can either review the videos/notebooks from this week, ask in the course forums, or look to the solutions for the correct answer.  BUT, be careful about looking to the solutions too quickly.  Struggling to get the right answer is an important part of the learning process.

In [1]:
import pandas as pd
import numpy as np
import os.path

In this exercise notebook you will have the opportunity to load the MovieLens database and perform additional analysis.

First let's load the data into a Pandas Dataframe:

In [82]:
# DO NOT MODIFY

# set here the relative path to the movielens folder
MOVIELENS="./movielens"

movies = pd.read_csv(os.path.join(MOVIELENS, 'movies.csv'), sep=',')
ratings = pd.read_csv(os.path.join(MOVIELENS, 'ratings.csv'), sep=',')

In [5]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [28]:
ratings.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

## Exercise 1: Find the Minimum Rating

Let's start by computing the minimum rating.

In the next cell, define the `min_rating` variable to be the minimum rating across all of the DataFrame:

In [3]:
min_rating = None
### BEGIN SOLUTION
min_rating = ratings['rating'].min()
### END SOLUTION

In [4]:
# DO NOT MODIFY

assert isinstance(min_rating, np.float64), "Try again, make sure you are taking the min of just 1 column"
assert abs(min_rating - 0.5) < .01, "Try again, the minimum should be 0.5"

## Exercise 2: Find the Mean Rating of a Movie

The movie **Toy Story** has `movieId` 1. Find out the mean rating for Toy Story. For this exercise you just need to use the `ratings` DataFrame:

In [8]:
toy_story_rating = None
### BEGIN SOLUTION
group = ratings[['movieId', 'rating']].groupby('movieId').mean()
toy_story_rating = group.at[1, 'rating'] #get_value(index i.e movieId = 1, column) OR #.at[row label/index , column label]
toy_story_rating
### END SOLUTION

3.921239561324077

In [9]:
assert abs(toy_story_rating - 3.92) < 0.01, "Try again, select only the rows where the movieId is equal to 1"

## Exercise 3: Find the Most Common Rating

Next, find which rating is the most common.

In [10]:
rating_counts = None
### BEGIN SOLUTION
# rating_counts = ratings[['rating']].mode().get_value(0,'rating')    #This is one way to do with 'mode'
# Note that .mode() returns a series of key (data items) - value (frequency) pair and to extract the most frequent i.e. data at index 0 we need .at[] or .get_value()
# Alternative way, expected here is with value_counts and entering the value with max freq 
rating_counts = ratings['rating'].value_counts()
rating_counts.index
rating_counts_mode = rating_counts.index[0]
rating_counts_mode
### END SOLUTION

4.0

In [11]:
# DO NOT MODIFY

assert rating_counts_mode == 4.0, "Print out rating_counts and try to understand what is wrong"

## Exercise 4: Usage of the Index in pandas

In `numpy` the way to point to a specific entry in an array is by using its integer position. In `pandas` you can do the same with `iloc`, but you also have the option of defining a column in a DataFrame as an `index` and refer to rows using `index` labels instead of integer locations using `loc`.

For example in `rating_counts` defined above, the rating is the `index`, so we can reference a value either by its position or by its rating.

For example we can reference the 4th record either with `iloc` and its position or with `loc` and its label:

In [12]:
rating_counts = None
rating_counts = ratings['rating'].value_counts()
rating_counts.head()

4.0    5561926
3.0    4291193
5.0    2898660
3.5    2200156
4.5    1534824
Name: rating, dtype: int64

In [13]:
rating_counts.iloc[3]

2200156

In [14]:
rating_counts.loc[3.5]

2200156

## Exercise 5: Set an Index for the Movies DataFrame

Movies have one column `movieId` that is a natural way of uniquely identifying each row, when that is the case, it is useful to turn that into an index.

In [16]:
movies.reset_index(drop=True)
movies = movies.set_index("movieId") # There will be error while trying to set movieId index after it is already set onece, so we reset before running the code cell
print(movies.index)
movies.head()

Int64Index([     1,      2,      3,      4,      5,      6,      7,      8,
                 9,     10,
            ...
            131241, 131243, 131248, 131250, 131252, 131254, 131256, 131258,
            131260, 131262],
           dtype='int64', name='movieId', length=27278)

,title,genres
movieId,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,Jumanji (1995),Adventure|Children|Fantasy
3,Grumpier Old Men (1995),Comedy|Romance
4,Waiting to Exhale (1995),Comedy|Drama|Romance
5,Father of the Bride Part II (1995),Comedy

In [17]:
ratings.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

Ratings instead do not have a row identifier, both `userId` and `movieId` reference records in other dataframes, therefore there is no good candidate for an index so we can just leave the default integer indexing.

## Exercise 6: Year with Maximum Standard Deviation in the Rating

First assignment is to find which year has the maximum standard deviation in the rating, **not** the maximum value of the standard deviation, but the year when it occurs.
You can use the `idxmax` method, look at its documentation on the pandas website, https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.idxmax.html

First we want to convert the timestamp into a datetime object:

In [29]:
# DO NOT MODIFY

ratings['parsed_time'] = pd.to_datetime(ratings['timestamp'], unit='s')
ratings.head()

   userId  movieId  rating   timestamp         parsed_time
0       1        2     3.5  1112486027 2005-04-02 23:53:47
1       1       29     3.5  1112484676 2005-04-02 23:31:16
2       1       32     3.5  1112484819 2005-04-02 23:33:39
3       1       47     3.5  1112484727 2005-04-02 23:32:07
4       1       50     3.5  1112484580 2005-04-02 23:29:40

We can then access to datetime related fields through `dt`, for example:

In [19]:
ratings.parsed_time.dt.month.head()   #use 'month', 'year', or 'day' inputs to get values accordingly

0    4
1    4
2    4
3    4
4    4
Name: parsed_time, dtype: int64

In [47]:
def find_year_with_max_std(ratings):
    """Function to find the year with the larger standard deviation in rating"""
    ### BEGIN SOLUTION
    test = ratings
    test['year'] = test.parsed_time.dt.year
    test = test[['year', 'rating']].groupby('year').std()
    year = test.idxmax().get(key='rating')
    return(year)
    ### END SOLUTION
#ratings['year'] = ratings.parsed_time.dt.month    #This is redundant here but necessary, already done in earlier practice, check df with .head()

1998

In [48]:
assert find_year_with_max_std(ratings) == 1998, "Wrong year identified, try again!"

## Advanced Exercise 1: Identify Popular Movies

*In the rest of the notebook, we will introduce new concepts not covered in class, this will challenge you to read additional pandas documentation.*

First we would like only to consider movies that have a significant number of ratings. This task is complicated by the fact that movies and ratings are in 2 different DataFrames and we want to filter the `movies` DataFrame based on a statistics on the `ratings` DataFrame.

First let's compute the number of ratings per movie:

In [53]:
number_of_ratings = ratings.movieId.value_counts()
# Alternatively
# number_of_ratings = ratings['movieId'].value_counts()

In [54]:
number_of_ratings.head()

296    67310
356    66172
318    63366
593    63299
480    59715
Name: movieId, dtype: int64

Now we want to filter this pandas Series object and keep only the rows where the count is larger or equal to 100.
We don't want to pollute our analysis with movies with a tiny number of reviews:

In [60]:
number_of_ratings_of_popular_movies = None
### BEGIN SOLUTION
number_of_ratings_of_popular_movies =number_of_ratings[lambda x: x>=100]
# number_of_ratings_of_popular_movies = number_of_ratings[number_of_ratings >= 100]
### END SOLUTION

In [61]:
assert len(number_of_ratings_of_popular_movies) == 8546, "Try again, check that movies with 100 ratings are accepted"

Finally we want to use the `reindex` function to change the index of movies, this will create a new DataFrame with a new index that contains the movieId of only the most popular movies.

The value of all the rows of `movies` that have the same movieId will be copied over to the new `popular_movies` dataset, the rest will be discarded.

In [63]:
all_popular_movies = movies.reindex(number_of_ratings_of_popular_movies)
all_popular_movies.head()

         movieId title genres
movieId
67310        NaN   NaN    NaN
66172        NaN   NaN    NaN
63366        NaN   NaN    NaN
63299        NaN   NaN    NaN
59715        NaN   NaN    NaN

## Advanced Exercise 2: Data Cleaning

Everytime we perform a reindexing operation, `pandas` will create a row for every value of the new index, even if it doesn't exist in the original data structure, and it will mark those data as missing with `NaN` (Not A Number).

Always check if reindexing generated invalid data:

In [64]:
all_popular_movies.isnull().sum()

movieId    79
title      79
genres     79
dtype: int64

In the next cell we want to drop the invalid data, look for a `pandas` function that performs that operation (it starts with "drop"!).

In [68]:
popular_movies = None
### BEGIN SOLUTION
popular_movies = all_popular_movies.dropna(axis = 0)
print(len(popular_movies))
### END SOLUTION

8467

In [66]:
assert len(popular_movies) == 7847, "Try again, check the documentation of the function you used"

AssertionError: Try again, check the documentation of the function you used

## Advanced Exercise 3: Filter by Genre

Let's implement a general function that filters movies by genres:

In [78]:
def filter_by_genre(input_movies, genre):
    """Return only movies of a specific genre"""
    ### BEGIN SOLUTION
    filter = (input_movies['genres'].str.contains(genre))
    return(input_movies[filter])
    ### END SOLUTION
#filter = popular_movies['genres'].str.contains('Fantasy')
#test = popular_movies[filter]
#len(test)

Then let's apply it to the `popular_movies` dataset to retain only the "Fantasy" movies:

In [99]:
fantasy_movies = filter_by_genre(popular_movies, "Fantasy")
len(fantasy_movies)

403

In [80]:
assert len(fantasy_movies) == 382, """Try again, Make sure you are filtering the popular movies"""

AssertionError: Try again, Make sure you are filtering the popular movies

## Advanced Exercise 4: Join Movies and Ratings

Let's create a single `DataFrame` that contains both titles and mean ratings of the popular fantasy movies.

Titles are only available in the `movies` `DataFrame`, while ratings in the `ratings` `DataFrame`, we would like to create a single DataFrame that includes Title.

Create the `mean_ratings` variable by computing the mean rating for each movie:

In [102]:
mean_ratings = None
### BEGIN SOLUTION
mean_ratings = ratings.rating.groupby(ratings.movieId).mean()
mean_ratings.head()
# Note ratings.rating > gives series while ratings[['rating']] gives df
### END SOLUTION

movieId
1    3.921240
2    3.211977
3    3.151040
4    2.861393
5    3.064592
Name: rating, dtype: float64

In this case we don't even need to use a join operation, we can just create a new column in the `fantasy_movies` DataFrame. This will automatically match the index of `mean_ratings` with the index of `fantasy_movies` and attach to each movie its rating. Ratings for movies that are not in the `fantasy_movies` DataFrame are discarded.

The recommended way of creating columns in the recent versions of `pandas` is through the `assign` function, read its documentation!

In [97]:
fantasy_movies.assign?

In [103]:
fantasy_movies_with_ratings = fantasy_movies.assign(rating = mean_ratings)

In [104]:
fantasy_movies_with_ratings.head()

,movieId,title,genres,rating
movieId,,,,
23220,110566.0,Son of Batman (2014),Action|Adventure|Animation|Crime|Fantasy,NaN
21926,105827.0,Rebirth of Mothra (1996),Action|Fantasy|Sci-Fi,NaN
21746,105191.0,Rocaterrania (2009),Documentary|Fantasy,NaN
20938,102248.0,Holy Flame of the Martial World (Wu lin sheng ...,Action|Adventure|Comedy|Fantasy,NaN
19874,98120.0,Wishmaster 2: Evil Never Dies (1999),Fantasy|Horror,NaN

In [105]:
assert fantasy_movies_with_ratings.loc[7842].title.startswith("Dune"), "Try again, missing or wrong title"

KeyError: 7842

In [ ]:
assert abs(fantasy_movies_with_ratings.loc[7842].rating - 3.56) < 0.01 , "Try again, missing or wrong rating"

## Advanced Exercise 5: Find the Highest Rated Fantasy Movie

Again we need to find the index where a column is max, in this case rating:

In [106]:
index_of_max_rating = None
### BEGIN SOLUTION
index_of_max_rating = fantasy_movies_with_ratings.rating.idxmax()

### END SOLUTION

In [107]:
highest_rated_fantasy_movie = fantasy_movies_with_ratings.loc[index_of_max_rating]

In [108]:
assert highest_rated_fantasy_movie.title.startswith("Princess"), "Try again"

AssertionError: Try again